.abbina-title {
  border-bottom: 2px solid #a08060;
  margin: 20px 20px 0 20px;
}

.abbina-container {
  display: flex;
  align-items: top;
  gap: 20px;
  padding: 0 20px;
  margin-top: 0;
}

.abbina-subtitles {
  color: #a08060;
}

.abbina-columns {
  width: 50%;
}

.abbina-items {
  padding: 10px;
  background-color: #c8b89a;
  border: 2px solid #a08060;
  border-radius: 5px;
  cursor: pointer;
}

.abbina-items:hover {
  background-color: #a08060;
}

/* MEDIA QUERY */

@media (max-width: 1024px) {
  .abbina-title {
    margin-top: 60px;
  }
  .def {
    font-size: 16px;
  }
  .abbina-container {
    position: relative;
    overflow-y: auto;
    height: 80vh;
  }
}

@media (max-width: 775px) {
  .abbina-title {
    font-size: 26px;
    margin-top: 0;
  }
}

@media (max-width: 625px) {
  .abbina-title {
    font-size: 20px;
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  .abbina-title {
    margin-top: 10px;
  }
  .def {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .abbina-title {
    font-size: 18px;
    margin-top: 0;
  }
}

@media (max-width: 431px) {
  .abbina-title {
    font-size: 22px;
    margin-top: 0;
  }
  .def {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .abbina-title {
    font-size: 20px;
    margin-top: 0;
  }
  .def {
    font-size: 14px;
  }
}

@media (max-width: 391px) {
  .abbina-title {
    font-size: 20px;
    margin-top: 0;
  }
  .def {
    font-size: 13px;
  }
}

@media (max-width: 376px) {
  .abbina-title {
    font-size: 18px;
    margin-top: 0;
  }
  .def {
    font-size: 10px;
  }
}

@media (max-width: 345px) {
  .abbina-title {
    font-size: 17px;
    margin-top: 0;
  }
}
