.quiz-title {
  border-bottom: 2px solid #a08060;
  margin: 20px 20px 40px 20px;
}

.quiz-line {
  height: 7px;
  border-radius: 5px;
  background-color: white;
  margin: 0 20px 20px 20px;
  padding: 0;
}

.quiz-line-fill {
  height: 100%;
  border-radius: 5px;
  background-color: #a08060;
  margin: 0;
}

.quiz-button {
  background-color: #a08060;
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.quiz-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-score {
  color: #a08060;
  font-size: 4rem;
  margin-bottom: 20px;
}

.quiz-answers {
  width: 45%;
}

.next {
  margin: 0 40px 10px 40px;
}

/* MEDIA QUERY */

@media (max-width: 1024px) {
  .quiz-title {
    margin-top: 60px;
  }
  .quiz-container {
    overflow-y: auto;
    height: 90vh;
  }
}

@media (max-width: 775px) {
  .quiz-title {
    font-size: 26px;
    margin-top: 0;
  }
}

@media (max-width: 625px) {
  .quiz-title {
    font-size: 20px;
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  .quiz-title {
    margin-top: 10px;
  }
  .quiz-answers {
    width: 40%;
  }
}

@media (max-width: 520px) {
  .quiz-title {
    font-size: 18px;
    margin-top: 0;
  }
}

@media (max-width: 431px) {
  .quiz-title {
    font-size: 24px;
    margin-top: 0;
  }
  .quiz-answers {
    width: 40%;
  }
}

@media (max-width: 425px) {
  .quiz-title {
    font-size: 24px;
    margin-top: 0;
  }
  .quiz-answers {
    width: 40%;
  }
}

@media (max-width: 391px) {
  .quiz-title {
    font-size: 24px;
    margin-top: 0;
  }
}

@media (max-width: 376px) {
  .quiz-title {
    font-size: 24px;
    margin-top: 0;
  }
  .quiz-answers {
    width: 40%;
  }
  .quiz-container {
    overflow-y: auto;
    height: 90vh;
  }
}

@media (max-width: 345px) {
  .quiz-title {
    font-size: 20px;
    margin-top: 0;
  }
}
