.storia-title {
  border-bottom: 2px solid #a08060;
  margin: 20px;
}

.storia-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 60vh;
  margin-bottom: 20px;
  margin-right: 5px;
}

.storia-container::-webkit-scrollbar {
  width: 10px;
}

/* sfondo */
.storia-container::-webkit-scrollbar-track {
  background: #c8b89a;
  border-radius: 5px;
}

/* parte che si muove */
.storia-container::-webkit-scrollbar-thumb {
  background: #a08060;
  border-radius: 5px;
}

/* per firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a08060 #c8b89a;
}

.card {
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 36%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: #a08060;
  border: 2px solid white;
  border-radius: 50%;
}

.storia-description {
  margin: 0 0 0 20px;
  border-left: 3px solid #a08060;
  padding-left: 10px;
  color: #a08060;
}

/* MEDIA QUERY */

@media (max-width: 1024px) {
  .storia-title {
    margin-top: 60px;
  }
  .storia-container {
    height: 55vh;
  }
}

@media (max-width: 821px) {
  .storia-container {
    height: 75vh;
  }
}

@media (max-width: 775px) {
  .storia-title {
    font-size: 22px;
    margin-top: 0;
  }
  .storia-container {
    height: 75vh;
  }
}

@media (max-width: 625px) {
  .storia-title {
    font-size: 20px;
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  .storia-title {
    margin-top: 10px;
  }
  .storia-container {
    height: 70vh;
  }
}

@media (max-width: 520px) {
  .storia-title {
    font-size: 18px;
    margin-top: 0;
  }
}

@media (max-width: 431px) {
  .storia-title {
    font-size: 18px;
    margin-top: 0;
  }
  .storia-container {
    height: 72vh;
  }
}

@media (max-width: 425px) {
  .storia-title {
    font-size: 17px;
    margin-top: 0;
  }
  .storia-container {
    height: 72vh;
  }
}

@media (max-width: 391px) {
  .storia-title {
    font-size: 16px;
    margin-top: 0;
  }
}

@media (max-width: 376px) {
  .storia-title {
    font-size: 14px;
    margin-top: 0;
  }
}

@media (max-width: 376px) {
  .storia-title {
    font-size: 15px;
    margin-top: 0;
  }
  .storia-container {
    height: 67vh;
  }
}

@media (max-width: 345px) {
  .storia-title {
    font-size: 14px;
    margin-top: 0;
  }
  .storia-container {
    height: 70vh;
  }
}
